* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bae8e8;

}

.contenedor{
    width: 100%;
    padding: 20px;
}
.formulario{
    background: white;
    padding: 20px 20px;
    border-radius: 8%;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

h1{
    text-align: center;
    color: #272343;
    font-size: 30px;
}

input[type="text"],
input[type="password"]{
    font-size: 15px;
    width: 87%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgb(199, 197, 197);
}

.icon{
    width: 50px;
    text-align: center;
    color:  rgb(150, 144, 144);
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #272343;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #ffd803;
    color: #272343;
}

p{
    text-align: center;
    margin: 10px 0;
    padding: 0 20px;
    line-height: 1.5;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
